.container {
    padding:15px;
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.App{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

.buttons{
    display: flex;
    justify-content: space-evenly;
}

  .operators{
      display: flex;
      flex-direction: column;
  }
  .operators button{
      background-color: #3CB5E5;
  }
  .special button{
      background-color:#2061B0;
  }
  button{
      font-size:30px;
      width:100px;
      height: 100px;
      border-radius: 50%;
      margin: 5px;
      box-shadow: 3px 3px #888888;
  }
  .numbers{
      width:330px;
      display: flex;
      flex-wrap: wrap;
  }
  .numbers button{
      background-color: #103C78;
  }


